* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 2rem;
}

.App {
  background-color: #A7C4B5;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(./imgs/z31.jpg);
  background-size: cover; 
  background-attachment: fixed;
}

.header__main {
  color: #fefefe;
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header__about {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
  width: 100%;
}